@import "./reset.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;800;900&display=swap");

.container {
  margin: 0 auto;
  width: 70%;
  max-width: 1400px;
}

.wrapper {
  background: url("../images/Brobg.png") no-repeat left top;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.text-bold-w {
  font-family: "Poppins", sans-serif;
  color: 333d47;
  font-size: 60px;
  font-weight: 900;
}

.bro {
  width: 150px;
  position: absolute;
  top: calc(100vh - 209.75px);
  left: 45%;
}

.counttime {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}

.creator {
  font-family: "Poppins", sans-serif;
  color: 333d47;
  font-size: 16px;
  font-weight: 900;
  position: absolute;
  bottom: 0;
}

.smalllogo {
  width: 30%;
}

.text {
  margin-bottom: 60px;
}
.launch {
  font-family: "Poppins", sans-serif;
  color: 333d47;
  font-size: 30px;
  font-weight: 500;
  margin-top: 30px;
}

@media (max-width: 425px) {
  .smalllogo {
    width: 50%;
  }
  .text-bold-w {
    font-size: 30px;
  }
  .bro {
    left: 30%;
  }
  .creator {
    font-size: 12px;
  }
  .counttime {
    top: 40%;
  }
}
